* {
    box-sizing: border-box;
}

.clearfix::after {
    content: 'header';
    display: block;
    clear: both;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #999999;
    background-image: url("../images/fabric.png");
    position: relative;
    }

header {
    width: 100%;
    height: 60px;
    font-family: 'Georgia' serif;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

}
.header_content {
    width: 960px;
    height: 57px;
    background-color:#ffffff;
    margin-right: auto;
    margin-left: auto;
}
h1 {
    margin:0;
    padding: 0 10px 0 10 px;
    width: 22%;
    height: 60px;
    font-size: 22px;
    line-height: 2.5;
    background-color: rgba(44, 155, 155, 0.842);
    color: white;
    text-align: center;
    float: left; 
}


.navigation {
    width: 25%;
    height: 60px;
    padding: 20px 0 20px 0;
    font-size: 16px;
    text-align: center;
    float:right;
}

a {
    color: #777777;
}

a:link {
    text-decoration: none;
    color:  #777777;
    margin: 10px;
    border-right-color: black;
    text-align: center;
}

a:hover {
    color: #555555;
    font-weight: bold;
}

a:active {
    color: rgba(44, 155, 155, 0.842);
}


.about{
    border-right-style: solid;
    border-right-color: #cccccc;
}

.clearfloat {
    clear: both;
    overflow: auto;
}

.main {
    width: 100%;
    height: 330px;
    position: absolute;
    top: 80px;
    }

#main_content_index {
    width: 960px;
    height: 400px;
    padding: 20px;
    background-color:#ffffff;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

#main_content_contact {
    width: 960px;
    height: 400px;
    padding: 20px;
    background-color:#ffffff;
    position: relative;
    margin: 0 auto 20px auto;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

#main_content_portfolio {
    width: 960px;
    height: 940px;
    padding: 20px;
    background-color:#ffffff;
    margin: 0 auto 20px auto;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

h2 {
    margin: 0 0px 40px 0px;
    padding: 0 0 0 10px;
    width: 100%;
    font-size: 22px;
    color: rgba(44, 155, 155, 0.842);
    position: absolute;
    
  }
    
hr {
    color: #cccccc;
    /* box-align: center; */
    width: 900px;
    margin: 10px 20px 10px 10px;
    size:"30";
    position: absolute;
    top: 50px;
}

#portrait {
    width:245px;
    height:182.8px;    
    margin: 50px 20px 10px 10px;
    float: left;
    top: 80px;
}

p {
    line-height: 1.8;
    margin-top: 50px;
    margin-right: 20px;
}


#input {
    width: 940px;
    height: 330px;
    font-size: 16px;
    position: absolute;
    top: 60px;
    padding: 10px;

}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: lighter;
    margin: 10px 0px 5px 0px;
}

#email,
#name {
    width:860px;
    line-height: 1.6;
}

#message {
    width: 860px;
    height: 100px;
    line-height: 1.6px;
    padding: 10px 5px 5px 5px;
}

.submit{
    width: 90px;
    height: 30px;
    color: white;
    background-color: rgba(39, 131, 131, 0.842);
    position: relative;
    margin: 10px 0 20px 0;  
 }  
 
 button:hover {
     font-weight: bold;
     background-color: rgba(56, 180, 180, 0.842);
 }

 button:active {
     background-color: #cccccc;
     color: rgba(39, 131, 131, 0.842);
 }

.placeholder {
    margin: 60px 10px 10px 10px;
}

#SanFrancisco {
    position: relative;
    text-align: center;
    width: 250px;
    height: 250px;
    float: left;
    margin: 0 10px 10px 0;
}

#ATT {
    margin:0px;
    width: 250px;
    height:250px;
}

#hSF {
    position: absolute;
    bottom: 10px;
    left: 0px;
}

#Hamburg {
    position: relative;
    text-align: center;
    width: 250px;
    height: 250px;
    float: left;
    margin: 0 10px 10px 10px;
}
#Hafen {
    margin:0px;
    width: 250px;
    height:250px;
}

#hHH {
    position: absolute;
    bottom: 10px;
    left: 0px;
}

#HongKong {
    position: relative;
    text-align: center;
    width: 250px;
    height: 250px;
    float: left;
    margin: 10px 10px 10px 0;
}
#Bull {
    margin:0px;
    width: 250px;
    height:250px;
}

#hHK {
    position: absolute;
    bottom: 10px;
    left: 0px;
}

#MaunaKea {
    position: relative;
    text-align: center;
    width: 250px;
    height: 250px;
    margin: 10px;
    float: left;
}

#Observatory {
    margin:0px;
    width: 250px;
    height:250px;
}

#hMK {
    position: absolute;
    bottom: 10px;
    left: 0px;
}

#MuiWoLantau {
    position: relative;
    text-align: center;
    width: 250px;
    height: 250px;
    float: left;
    margin: 10px 10px 10px 0px;
}

#village {
    margin:0px;
    width: 250px;
    height:250px;
}

#hMW {
    position: absolute;
    bottom: 10px;
    left: 0px;
}

span {
    width:250px;
    height: 40px;
    font-size: 18px;
    padding: 5px 0 5px 0;
    line-height: 1.8;
    background-color: rgba(44, 155, 155, 0.842);
    color: white;
}


footer {
    width: 100%;
    height: 50px;
    background-color: rgba(44, 155, 155, 0.842) ;
    position: fixed;
    bottom:0;
    left:0;
    margin-top: 20px;
    z-index: 1
 }
    
.copyright {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    background-color: #666666;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width:980px) {
    header {
        width:100%;
    }
    .header_content {
        width: 90%;
    }

    h1 {
        width:200px;
    }

    .navigation {
        width: 40%;
    } 
    hr {
        width:523px;
    }
    #portrait {
        width:245px;
        height: 182.2px;
    }
    #description {
        width:95%;
    }
    #main_content_index {
        width:600px;
        height: 450px;
        margin: 0 auto 20px 35px;
    }
    #main_content_contact {
        width:600px;
        margin: 0 auto 20px 35px;
    }
    #name {
        width: 530px;
    }
    #email {
        width: 530px;
    }
    #message {
        width:530px;
    }
    #submit {
        width:100%;
    }

    #main_content_portfolio {
        width:600px;
        height: 800px;
        padding:21.5px;
        margin: 0 auto 20px 35px;
    }
    #SanFrancisco {
        width: 240px;
        height: 200px;
        margin: 5px 20px 20px 0px;
    }
    
    #ATT {
        width: 240px;
        height:200px;
    }
  
    #Hamburg {
        width: 240px;
        height: 200px;
        margin: 5px 15px 20px 20px;
    }
    #Hafen {
        width: 240px;
        height:200px;
    }
    
    #HongKong {
        width: 240px;
        height: 200px;
        margin: 20px 20px 20px 0px;
    }
    #Bull {
        width: 240px;
        height:200px;
    }
    
    #MaunaKea {
        width: 240px;
        height: 200px;
        margin: 20px 15px 20px 20px;

    }
    
    #Observatory {
        width: 240px;
        height:200px;
    }
    
    #MuiWoLantau {
        width: 240px;
        height: 200px;
        margin: 20px 15px 15px 0px;
    }
    
    #village {
        width: 240px;
        height:200px;
    }

    span {
        width:240px;
        height: 40px;
    }
}

@media screen and (max-width:768px) {
    header {
        width:100%;
    }
    .header_content {
        width: 90%;
    }

    h1 {
        width:200px;
    }

    .navigation {
        width: 235px;
    }
    #main_content_index {
        width:640px;
        margin: 0 auto 0 auto;
    }
    hr {
        width:530px;
    }
    
    #portrait {
        width:245px;
        height: 182.2px;
    }
    #description {
        width:95%;
    }

    #main_content_contact {
        widows: 640px;
        margin: 0 auto 0 auto;
    }

    #input {
        width: 600px;
    }
    #name {
        width: 530px;
    }
    #email {
        width: 530px;
    }
    #message {
        width:530px;
    }
    #submit {
        width:100%;
    }

    #main_content_portfolio {
        width:640px;
        height: 950px;
        margin: 0 auto 0 auto;
    }
    #SanFrancisco {
        width: 270px;
        height: 270px;
        margin: 0 10px 10px 0px;
    }
    
    #ATT {
        width: 270px;
        height:270px;
    }
  
    #Hamburg {
        width: 270px;
        height: 270px;
        margin: 0 10px 10px 10px;
    }
    #Hafen {
        width: 270px;
        height:270px;
    }
    
    #HongKong {
        width: 270px;
        height: 270px;
        margin: 10px 10px 10px 0px;
    }
    #Bull {
        width: 270px;
        height:270px;
    }
    
    #MaunaKea {
        width: 270px;
        height: 270px;
        margin: 10px 10px 10px 10px;

    }
    
    #Observatory {
        width: 270px;
        height:270px;
    }
    
    #MuiWoLantau {
        width: 270px;
        height: 270px;
        margin: 10px 10px 10px 0px;
    }
    
    #village {
        margin:0px;
        width: 270px;
        height:270px;
    }

    span {
        width:270px;
        height: 40px;
    }
}

@media screen and (max-width:640px) {
    header {
        width:100%;
    }
    .header_content {
        width: 100%;
    }

    h1 {
        width:640px;
        height: 40px;
        line-height: 1.5;
        float:left;
    }

    .navigation {
        width: 640px;
        height: 0px;
        padding: 2px;
    }
    
    .main {
        width:640px;
        height:1700px;
        margin: 0 auto 0 auto;
    }
    #main_content_index {
        width:550px;
        height:650px;
    }
    hr {
        width:485px;
    }
   
    #portrait {
        width:485px;
        height: 360px;

    }
    #description {
        width:95%;
        margin-left:10px;
        line-height: 1.5;
    }

    #main_content_contact {
        width:550px;
        height:420px;
    }
    #name {
        width: 440px;
    }
    #email {
        width: 440px;
    }
    #message {
        width:440px;
    }
    #submit {
        width:100%;
    }
    #main_content_portfolio {
        width:550px;
        height: 1630px;
        margin: 0 auto 20px auto;
    }
    #SanFrancisco {
        width: 430px;
        height: 280px;
        margin: 0 10px 15px 0px;
    }
    
    #ATT {
        width: 430px;
        height:280px;
    }
  
    #Hamburg {
        width: 430px;
        height: 280px;
        margin: 15px 10px 15px 0px;
    }
    #Hafen {
        width: 430px;
        height: 280px;
    }
    
    #HongKong {
        width: 430px;
        height: 280px;
        margin: 15px 10px 15px 0px;
    }
    #Bull {
        width: 430px;
        height: 280px;
    }
    
    #MaunaKea {
        width: 430px;
        height: 280px;
        margin: 15px 10px 15px 0px;

    }
    
    #Observatory {
        width: 430px;
        height: 280px;
    }
    
    #MuiWoLantau {
        width: 430px;
        height: 280px;
        margin: 15px 10px 15px 0px;
    }
    
    #village {
        width: 430px;
        height: 280px;
    }
    span {
        width:430px;
        height: 40px;
    }
}